* {
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
}
a {
  text-decoration: none;
}

.main {
  display: flex;
  min-height: calc(100vh - 70px);
}
.side_menu {
  width: 20%;
  background-color: #fff;
}
.pages {
  width: 80%;
  background-color: #efeff0;
}
